<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
    {% include './script.html' %}
  </head>

  <body>
    <span id="color" hidden>#{{color}}</span>
    <script>
      document.body.style.backgroundColor =
        document.getElementById("color").textContent;
    </script>
    <div>
      <br />
      <h2>title : {{notes.title}}</h2>
      user : {{notes.user.username}}
      <p><br />text : {{notes.text}}</p>
      {% if notes.user.username == current_user.username %}
      <button
        class="btn btn-outline-light"
        type="button"
        id="edit"
        data-color="{{color}}"
      >
        Edit
      </button>
      <button class="btn btn-outline-light" type="button" id="delete">
        Delete
      </button>

      {% endif %}
    </div>
  </body>
</html>
