<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
    {% include './script.html' %}
    <link
      href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
    <style>
      h2 {
        font-family: "Reenie Beanie";

        font-weight: bold;
        font-size: 4rem;
      }
      p {
        font-family: "Reenie Beanie";
        font-size: 2rem;
      }
    </style>
  </head>

  <body>
    <span id="color" hidden>#{{color}}</span>
    <script>
      document.body.style.backgroundColor =
        document.getElementById("color").textContent;
    </script>
    <div>
      <br />
      <h2>title : {{notes.title}}</h2>

      <p>sender : {{notes.sender.username}}<br />{{notes.text}}</p>

      {% if notes.sender.username == current_user.username %}
      <button
        class="btn btn-outline-light"
        type="button"
        id="edit"
        data-color="{{color}}"
      >
        Edit
      </button>

      {% else %}
      <button
        class="btn btn-outline-light"
        type="button"
        id="reply"
        data-sender="{{notes.sender.username}}"
      >
        Reply
      </button>
      {% endif %}
      <button class="btn btn-outline-light" type="button" id="delete">
        Delete
      </button>
    </div>
  </body>
</html>
