<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit your note</title>
    <style>
      input {
        opacity: 0.7;
      }
      div {
        margin: 10px;
        padding: 1px;
      }
    </style>
    {% include './script.html' %}
  </head>
  <body>
    <span id="color" hidden>#{{color}}</span>
    <script>
      document.body.style.backgroundColor =
        document.getElementById("color").textContent;
    </script>
    <br />
    <form action="{% url 'update' notes.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="color" value="{{color}}" />

      <div class="form-group">
        <input
          maxlength="10"
          required
          class="form-control form-control-lg"
          name="note_title"
          id="note_title"
          type="text"
          value="{{notes.title}}"
        />
      </div>
      <div class="form-group">
        <textarea
          input
          class="input-group-text form-control-lg"
          name="note_text"
          id="note_text"
          class="form-control"
          rows="3"
          cols="40"
        >

    {{notes.text}}</textarea
        >
      </div>
      <input type="submit" class="btn btn-outline-light" value="submit" />
    </form>
  </body>
</html>
