<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make new note</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 0 auto;
        text-align: center;
        background-color: rosybrown;
        opacity: 0.7;
      }
      div {
        margin: 10px;
        padding: 1px;
      }
    </style>
  </head>
  <body>
    <br />
    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input
          maxlength="10"
          required
          class="form-control form-control-lg"
          name="receiver"
          id="receiver"
          type="text"
          placeholder="Receiver"
          value="{{receiver}}"
        />
      </div>
      <div class="form-group">
        <input
          maxlength="10"
          required
          class="form-control form-control-lg"
          name="note_title"
          id="note_title"
          type="text"
          placeholder="Title"
        />
      </div>
      <div class="form-group">
        <textarea
          input
          class="input-group-text form-control-lg"
          name="note_text"
          id="note_text"
          class="form-control"
          rows="3"
          cols="40"
        ></textarea>
      </div>
      <input type="submit" class="btn btn-outline-light" value="submit" />
    </form>
  </body>
</html>
