<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>
<style>
  body {
    margin: 0 auto;
    text-align: center;
  }
</style>
<script>
  window.onload = (event) => {
    var e = document.getElementById("edit");
    if (e != null) {
      e.addEventListener("click", edit);
    }
    var r = document.getElementById("reply");
    if (r != null) {
      r.addEventListener("click", reply);
    }

    document.getElementById("delete").addEventListener("click", del);
  };

  function edit() {
    col = event.target.getAttribute("data-color");
    window.location.href = "{% url 'edit' notes.id%}?color=" + col;
  }
  function del() {
    window.location.href = "{% url 'delete' notes.id%}";
  }
  function reply() {
    var w = 400;
    var h = 400;
    var left = (screen.width - w) / 4;
    var top = (screen.height - h) / 4;
    url = "{% url 'new' %}";
    receiver = event.target.getAttribute("data-sender");
    var mywindow = window.open(
      url,
      "_blank",
      " width=" + w + ", height=" + h + ", top=" + top + ", left=" + left
    );
    mywindow.addEventListener("load", set_receiver);
    function set_receiver() {
      mywindow.document.getElementById("receiver").value = receiver;
    }
  }
</script>
