<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
    {% load static %}
    <script src="{% static 'js/detail.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
  </head>

  <body>
    <span id="color" hidden>#{{color}}</span>
    <div>
      <br />

      <h2>{{notes.title}}</h2>
      <p>
        {{notes.text}}
        <br />
        From: {{notes.sender.username}}
      </p>

      {% if notes.sender.username == current_user.username %}
      <button
        class="btn btn-outline-light"
        type="button"
        id="edit"
        data-color="{{color}}"
        data-next-url="{% url 'edit' notes.id%}"
      >
        Edit
      </button>

      {% else %}
      <button
        class="btn btn-outline-light"
        type="button"
        id="reply"
        data-sender="{{notes.sender.username}}"
        data-next-url="{% url 'new' %}"
      >
        Reply
      </button>
      {% endif %}
      <button
        class="btn btn-outline-light"
        type="button"
        id="delete"
        data-next-url="{% url 'delete' notes.id%}"
      >
        Delete
      </button>
    </div>
  </body>
</html>
